.modal-body {
    max-height: 50vh;
    overflow: scroll;
}

[alt="icon"] {
    width: fit-content;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 90;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transition: max-width .25s;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

.sidebar>div {
    min-width: max-content;
    height: 100vh;
}

.sidebar.closed {
    max-width: 0;
}

.sidebar.opened {
    max-width: 250px;
}

.container-wrapper {
    min-height: 85vh;
    margin-top: 60px;
}

@media only screen and (min-width: 992px) {
    .sidebar.closed {
        max-width: 250px !important;
    }

    .container-wrapper {
        padding-left: 17rem;
    }
}

.display-none {
    display: none !important;
}

img {
    width: 100%;
    object-fit: cover;
}

.abs-top-right {
    position: absolute;
    top: 5px;
    right: 10px;
}

#editor {
    min-height: 400px;
}

.fullscreen {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding-top: 0 !important;
}

.fullscreen>#editor>.ql-editor {
    padding-bottom: 300px;
}

.user-tools {
    display: flex;
    flex-wrap: wrap;
    align-items: self-end;
}

.user-tools-btn {
    transition-duration: .25s;
    cursor: pointer;
    background-color: white;
    border: 1px solid currentColor;
    padding: 5px 8px;
}

.user-tools-btn:hover {
    transform: scale(1.05);
}

.user-attr {
    position: relative;
    min-height: 3em;
}

.user-role {
    position: absolute;
    bottom: 3px;
    margin-left: 3px;
    opacity: .75;
}

@media only screen and (max-width: 600px) {
    .user-attr {
        display: flex;
        width: 100%;
        min-height: 3em;
    }

    .user-name {
        align-self: flex-end;
    }

    .user-tools {
        display: flex;
        justify-content: end;
    }

    .user-role {
        top: 3px;
        bottom: auto;
    }
}

.container-group {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 50vw;
    height: 100%;
    min-height: 80vh;
}

.container-child {
    top: 0;
    background-color: transparent;
    position: absolute;
    transition: .5s;
    transition-timing-function: ease-in-out;
    left: 100vw;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    max-height: 100%;
    padding-bottom: 5rem;
}

.container-child.start {
    left: -100vw;
}

.container-child.end {
    left: 100vw;
}

.container-child.active {
    left: 0;
}

.container-child>.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 5px;
}

.navigation {
    margin-top: 5rem;
    display: flex;
    bottom: 10px;
    padding: 0 7.5px;
    width: 100%;
}

.custom-input {
    font-size: x-large;
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
}

.uploaded-wrapper {
    transition: 1s;
    min-height: 250px;
    height: 100%;
    max-height: 400px;
    min-width: 150px;
    width: 100%;
    background-color: gray;
}

.uploaded-wrapper img {
    object-fit: contain !important;
    aspect-ratio: 1.75;
}

.ce-toolbar__actions {
    right: 0 !important;
}

.photo-count {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 2px #000000;
}

.product-card.sample {
    overflow: hidden;
}

.product-card.sample::before {
    content: "CONTOH";
    position: absolute;
    top: 0;
    left: -50%;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #ff000096;
    transform: rotate(-45deg) translate(10px, 50px);
    color: white;
}

.abso-bottom {
    padding: 15px 5px;
    padding-bottom: 3.5em;
    position: absolute;
    bottom: 0;
    left: 0;
}

.user-badge {
    font-size: 25px;
    background-color: #ff0000b5;
    font-weight: 600;
    padding: 10px 12px;
    color: #ffffff;
    border-radius: 0px;
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

.user-badge>i {
    padding-right: 10px;
    color: white;
}

.ajax {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    z-index: 9000;
    width: 100vw;
}
.ajax div {
    animation: ajaxLoading infinite 2s;
    background: #00b3ff;
    border-radius: 5rem;
    height: 5px;
    margin: auto;
}
@keyframes ajaxLoading {
    0% {
        width: 10vw;
    }

    50% {
        width: 110vw;
        background: #ff5050;
    }
    100% {
        width: 10vw;
    }
}